.header-contener
  =link_to root_path do
    = image_tag "logo/logo.png"
= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form-body" }) do |f|
  .field-contener
    .registration ログイン
    .registration-form
      .form-box
        .form-group
          = f.label :email
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email", class: "text-field"
        .form-group
          = f.label :password
          %br/
          = f.password_field :password, autocomplete: "current-password", class: "text-field"
        .actions
          = f.submit "ログイン", class: "next-btn"
        .new-user-actions
          アカウントをお持ちでない方はこちらから
          %a{ href: new_user_registration_path, class:'new-user-btn' } 新規登録
