.left_var
  .mypage
    .left_content
      .mypage_nav
        .mypage_nav_list
          .mypage-nav-list-item
            = link_to "#" do
              <b>マイページ</b>
            %i.icon-arrow-right
          .mypage_nav_list
            .mypage-nav-list-item
              = link_to "#" do
                いいね！一覧
                %i.icon-arrow-right
                  ＞
          .mypage_nav_list
            .mypage-nav-list-item
              = link_to "#" do
                出品する
                %i.icon-arrow-right
                  ＞
          .mypage_nav_list
            .mypage-nav-list-item
              = link_to "#" do
                出品した商品ー出品中
                %i.icon-arrow-right
                  ＞
          .mypage_nav_list
            .mypage-nav-list-item
              = link_to "#" do
                出品した商品ー取引中
                %i.icon-arrow-right
                  ＞
          .mypage_nav_list
            .mypage-nav-list-item
              = link_to "#" do
                出品した商品ー過去の取引
                %i.icon-arrow-right
                  ＞
          .mypage_nav_list
            .mypage-nav-list-item
              = link_to "#" do
                購入した商品ー現在の取引
                %i.icon-arrow-right
                  ＞
          .mypage_nav_list
            .mypage-nav-list-item
              = link_to "#" do
                購入した商品ー過去の取引
                %i.icon-arrow-right
                  ＞
          .mypage_nav_list
            .mypage-nav-list-item
              = link_to "#" do
                評価一覧
                %i.icon-arrow-right
                  ＞
      .point
        <b>ポイント</b>
        .mypage_nav
          .mypage_nav_list
            .mypage-nav-list-item
              = link_to "#" do
                売上、振り込み申請
                %i.icon-arrow-right
                  ＞
          .mypage_nav_list
            .mypage-nav-list-item
              = link_to "#" do
                ポイント
                %i.icon-arrow-right
                  ＞

      .configuration
        <b>設定</b>
        .mypage_nav
          .mypage_nav_list
            .mypage-nav-list-item
              = link_to "#" do
                プロフィール
                %i.icon-arrow-right
                  ＞
          .mypage_nav_list
            .mypage-nav-list-item
              = link_to "#" do
                発送元、お届け先変更
                %i.icon-arrow-right
                  ＞
          .mypage_nav_list
            .mypage-nav-list-item
              - if @card.nil? 
                = link_to credit_users_path do
                  支払い方法
                  %i.icon-arrow-right
                    ＞
              - else
                = link_to card_show_path do
                  支払い方法
                  %i.icon-arrow-right
                    ＞
          .mypage_nav_list
            .mypage-nav-list-item
              = link_to "#" do
                メール、パスワード
                %i.icon-arrow-right
                  ＞
          .mypage_nav_list
            .mypage-nav-list-item
              = link_to "#" do
                本人情報
                %i.icon-arrow-right
                  ＞
          .mypage_nav_list
            .mypage-nav-list-item
              = link_to "#" do
                電話番号の確認
                %i.icon-arrow-right
                  ＞
          .mypage_nav_list
            .mypage-nav-list-item
              = link_to logout_users_path do
                ログアウト
                %i.icon-arrow-right
                  ＞
