= form_with model: product, class:"product_form", local: true do |f|
  .product_out
    .product_box
      .product_box__img
        .product_box__img--exhibition
          %b 出品画像
          .required
            %b 必須
        .product_box__img--comment
          最大10枚までアップロードできます
        #image-box
          #previews
            - if product.persisted?
              - product.images.each_with_index do |image, i|
                .picture_preview.saved_picture
                  = image_tag image.image.url, data: { index: i }, width: "117.5", height: '118'
                  .js-remove 削除
            = f.fields_for :images do |image|
              - if product.persisted?
                .hidden_destroy
                  = image.check_box :_destroy, {data: {index: image.index}}
              .picture_preview.not_saved_picture
              
              %label.img_upload_container.default_uploader
                - if product.persisted?
                  .js-file_group{ data: { index: image.index } }
                    = file_field_tag :image, name: "@product[images_attributes][#{image.index}][image]", class: "js-file" 
                    %i.fas.fa-camera.product_icon
                    = image.file_field :image, class: "js-file"
                    %br/
                    .boxsize__message
                      クリックしてファイルをアップロード
                - else
                  .js-file_group{ data: {index: image.index} }
                    %i.fas.fa-camera.product_icon
                    = image.file_field :image, class: "js-file"
                    %br/
                    .boxsize__message
                      クリックしてファイルをアップロード
        .error_message
          = product.errors.full_messages_for(:images)[0]
  .product_name
    .product_name__wide
      .product_name_box
        .product_name_box__exhibition
          %b 商品名
          .required
            %b 必須
        = f.text_field :name, placeholder: "40文字まで", class:"product_name_box__comment"
        .error_message
          = product.errors.full_messages_for(:name)[0]
        .product_name_box__description
          %b 商品の説明
          .required
            %b 必須
        = f.text_area :text, class:"product_name_box__text_form", placeholder: "商品の説明（必須 1,000文字以内）\n（色、素材、重さ、定価、注意点など）\n\n例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。\n"
        .error_message
          = product.errors.full_messages_for(:text)[0]
        .product_name_box__string_max 
          文字数: 0/1000 
  .details
    .details__wide
      .details_name
        .details_name__title
          %b 商品の詳細
          .details_name__exhibition
            %b カテゴリー
            .required
              %b 必須
        .categories
          .categories_box
            %select{:name => "categoryId"}
              %option{"aria-selected" => "true", :label => "選択してください", :selected => "", :value => ""} 選択してください
              %option{"aria-selected" => "false", :label => "レディース", :value => "1"} レディース
              %option{"aria-selected" => "false", :label => "メンズ", :value => "2"} メンズ
              %option{"aria-selected" => "false", :label => "ベビー・キッズ", :value => "3"} ベビー・キッズ
              %option{"aria-selected" => "false", :label => "インテリア・住まい・小物", :value => "4"} インテリア・住まい・小物
              %option{"aria-selected" => "false", :label => "本・音楽・ゲーム", :value => "5"} 本・音楽・ゲーム
              %option{"aria-selected" => "false", :label => "おもちゃ・ホビー・グッズ", :value => "1328"} おもちゃ・ホビー・グッズ
              %option{"aria-selected" => "false", :label => "コスメ・香水・美容", :value => "6"} コスメ・香水・美容
              %option{"aria-selected" => "false", :label => "家電・スマホ・カメラ", :value => "7"} 家電・スマホ・カメラ
              %option{"aria-selected" => "false", :label => "スポーツ・レジャー", :value => "8"} スポーツ・レジャー
              %option{"aria-selected" => "false", :label => "ハンドメイド", :value => "9"} ハンドメイド
              %option{"aria-selected" => "false", :label => "チケット", :value => "1027"} チケット
              %option{"aria-selected" => "false", :label => "自動車・オートバイ", :value => "1318"} 自動車・オートバイ
              %option{"aria-selected" => "false", :label => "その他", :value => "10"} その他

        .categories
          .categories_box
            %select{:name => "categoryId"}
              %option{"aria-selected" => "true", :label => "選択してください", :selected => "", :value => ""} 選択してください
              %option{"aria-selected" => "false", :label => "レディース", :value => "1"} レディース
              %option{"aria-selected" => "false", :label => "メンズ", :value => "2"} メンズ
              %option{"aria-selected" => "false", :label => "ベビー・キッズ", :value => "3"} ベビー・キッズ
              %option{"aria-selected" => "false", :label => "インテリア・住まい・小物", :value => "4"} インテリア・住まい・小物
              %option{"aria-selected" => "false", :label => "本・音楽・ゲーム", :value => "5"} 本・音楽・ゲーム
              %option{"aria-selected" => "false", :label => "おもちゃ・ホビー・グッズ", :value => "1328"} おもちゃ・ホビー・グッズ
              %option{"aria-selected" => "false", :label => "コスメ・香水・美容", :value => "6"} コスメ・香水・美容
              %option{"aria-selected" => "false", :label => "家電・スマホ・カメラ", :value => "7"} 家電・スマホ・カメラ
              %option{"aria-selected" => "false", :label => "スポーツ・レジャー", :value => "8"} スポーツ・レジャー
              %option{"aria-selected" => "false", :label => "ハンドメイド", :value => "9"} ハンドメイド
              %option{"aria-selected" => "false", :label => "チケット", :value => "1027"} チケット
              %option{"aria-selected" => "false", :label => "自動車・オートバイ", :value => "1318"} 自動車・オートバイ
              %option{"aria-selected" => "false", :label => "その他", :value => "10"} その他

        .categories
          .categories_box
            %select{:name => "categoryId"}
              %option{"aria-selected" => "true", :label => "選択してください", :selected => "", :value => ""} 選択してください
              %option{"aria-selected" => "false", :label => "レディース", :value => "1"} レディース
              %option{"aria-selected" => "false", :label => "メンズ", :value => "2"} メンズ
              %option{"aria-selected" => "false", :label => "ベビー・キッズ", :value => "3"} ベビー・キッズ
              %option{"aria-selected" => "false", :label => "インテリア・住まい・小物", :value => "4"} インテリア・住まい・小物
              %option{"aria-selected" => "false", :label => "本・音楽・ゲーム", :value => "5"} 本・音楽・ゲーム
              %option{"aria-selected" => "false", :label => "おもちゃ・ホビー・グッズ", :value => "1328"} おもちゃ・ホビー・グッズ
              %option{"aria-selected" => "false", :label => "コスメ・香水・美容", :value => "6"} コスメ・香水・美容
              %option{"aria-selected" => "false", :label => "家電・スマホ・カメラ", :value => "7"} 家電・スマホ・カメラ
              %option{"aria-selected" => "false", :label => "スポーツ・レジャー", :value => "8"} スポーツ・レジャー
              %option{"aria-selected" => "false", :label => "ハンドメイド", :value => "9"} ハンドメイド
              %option{"aria-selected" => "false", :label => "チケット", :value => "1027"} チケット
              %option{"aria-selected" => "false", :label => "自動車・オートバイ", :value => "1318"} 自動車・オートバイ
              %option{"aria-selected" => "false", :label => "その他", :value => "10"} その他

        .state
          %b サイズ
          .required
            %b 必須
        .size
          .sizes_box
            = f.collection_select :size_id, Size.all, :id, :name, prompt: "選択してください"
        .error_message
          = product.errors.full_messages_for(:size_id)[0]
        .brand
          %b ブランド
          .any
            %b 任意
        .brand_box
          =  f.text_field :brand_name
        .error_message
          = product.errors.full_messages_for(:brand_name)[0]
        .state
          %b 商品の状態
          .required
            %b 必須
        .status
          .status_box
            = f.collection_select :products_status_id, ProductsStatus.all, :id, :name, prompt: "選択してください"
        .error_message
          = product.errors.full_messages_for(:products_status_id)[0]

  .delivery
    .delivery__wide
      .delivery_name
        .delivery_name__title
          %b 配送について
          .delivery_name__exhibition
            %b 配送料の負担
            .required
              %b 必須
          .delivery_charge
            .delivery_charge__box
              = f.collection_select :shipping_charges_id, ShippingCharges.all, :id, :name, prompt: "選択してください"
          .error_message
            = product.errors.full_messages_for(:shipping_charges_id)[0]

          #delivery_hidden
            .delivery_method__exhibition
              %b 配送料の方法
              .required
                %b 必須
            .delivery_method
              .delivery_method__box
                = f.collection_select :shipping_method_id, ShippingMethod.all, :id, :name, prompt: "選択してください"
            .error_message
              = product.errors.full_messages_for(:shipping_method_id)[0]

          .delivery_area__exhibition
            %b 発送元の地域
            .required
              %b 必須
          .delivery_areas
            .delivery_areas__box
              = f.collection_select :delivery_area_id, DeliveryArea.all, :id, :name, prompt: "選択してください"
          .error_message
            = product.errors.full_messages_for(:delivery_area_id)[0]
         
          .delivery_date__exhibition
            %b 配送までの日数
            .required
              %b 必須
          .delivery_date
            .delivery_date__box
              = f.collection_select :estimated_delivery_date_id, EstimatedDeliveryDate.all, :id, :name, prompt: "選択してください"
          .error_message
            = product.errors.full_messages_for(:estimated_delivery_date_id)[0]

  .value
    .value__wide
      .value_name
        .value_name__title
          %b 価格 (¥300~9,999,999)
        .value_name__box
          .selling_price
            %b 販売価格
            .required
              %b 必須
          .price_input_form
            .mark
              ¥
            .value_box
              = f.number_field :selling_price
        .error_message
          = product.errors.full_messages_for(:selling_price)[0]
        .commission
          .commission__title
            販売手数料
          .commission__calculation
            ー
        .sale
          .sale__title
            販売利益
          .sale__calculation
            ー
        = f.submit "出品する", class:"exhibition", id:"submit"
        .draft
          %button{:tabindex => "0", :type => "button"} 
            %b 下書きに保存
        .back
          = link_to('もどる', {:href => "/jp/"})
        .prohibited
          禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして加盟店規約に同意したことになります。
