= render 'layouts/header'
%nav.bread-crumbs
  %ul
    %li
      = link_to "FURIMA"
    %li
      %i.fa.fa-angle-right
        
    %li
      = link_to "ベビー・キッズ"
    %li
      %i.fa.fa-angle-right
        
    %li
      = link_to "ベビー服(男女兼用) ~95cm"
    %li
      %i.fa.fa-angle-right
        
    %li
      = link_to "アフター"
    %li
      %i.fa.fa-angle-right
    %li
      %p
        = @product.name
.main
  .main__show
    .content__leftqq
    .content__right
      .top-content
        .item-box
          %h2.item-box__name
            = @product.name
          .item-box__body
            = image_tag "#{@images[0].image}",id: "main-image"
            .img__plural
              - image_count = 1
              - if @images[1]&.image == nil
                - image_count = 0
              - @images.each do |i|
                - if image_count != 0
                  - if image_count == 1
                    = image_tag "#{i.image}",class: "sub-image active",id: image_count
                    - image_count += 1
                  - else
                    = image_tag "#{i.image}",class: "sub-image",id: image_count
                    - image_count += 1
          .item-box__price
            %span
              = "¥" + @product.selling_price
            .item-box__price-detail
              %span
                (税込)
              %span
                送料込み
          .item-detail
            = @product.text
          .table
            %table
              %tbody
                %tr
                  %th
                    出品者
                  %td
                    = @product.seller.nickname
                %tr
                  %th
                    カテゴリー
                  %td
                    =link_to "ベビー・キッズ"
                    =link_to "ベビー服(男女兼用) ~95cm"
                    =link_to "アウター"
                %tr
                  %th
                    ブランド
                  %td
                    = @product.bland_name
                %tr
                  %th
                    商品サイズ
                  %td
                    = @size.name
                %tr
                  %th
                    商品の状態
                  %td
                    = @productsStatus.name
                %tr
                  %th
                    配送料の負担
                  %td
                    = @shippingCharges.name
                %tr
                  %th
                    発送元の地域
                  %td
                    =link_to @shippingMethod.name
                %tr
                  %th
                    発送日の目安
                  %td
                    = @estimatedDeliveryDate.name
          .optional-area
            %ul
              %li.optional-btn.like-btn
                %i.fa.fa-star
                お気に入り ０
            .optional
              .optional-btn
                =link_to "#" do
                  %i.fa.fa-flag
                  不適切な商品の通報
          - if current_user && user_signed_in? && current_user.id != @product.seller_id 
            .buy-btn-contener
              = link_to "#",class:"no-underline" do
                %button.buy-btn{type: "submit"}
                  購入する
          - elsif current_user && user_signed_in?
            .buy-btn-contener
              = link_to product_path(@product.id), method: :delete,class:"no-underline" do
                %button.delete-btn{type: "submit"}
                  削除する
              = link_to edit_product_path(@product.id),class:"no-underline" do
                %button.edit-btn{type: "submit"}
                  編集する
        .comment__box
          %ul.comment__contents
            %form
              %textarea.message{name: "comment"}
              %p.notice-msg
                相手のことを考えた丁寧なコメントを心がけましょう。
                %br
                  不快な言葉遣いなどは利用制限や退会処分となることがあります。
              %button.comment-btn{type: "submit"}
                %i.fas.fa-comment
                コメントする
      %ul.links
        %li
          =link_to "#" do
            %i.fa.fa-angle-left
            %span
              前の商品
        %li
          =link_to "#" do
            %span
              後ろの商品
            %i.fa.fa-angle-right
      .related-items
        =link_to "ベビー・キッズをもっと見る"
        .productlists
= render 'layouts/footer'
=link_to new_product_path do
  .purchaseBtn
    .purchaseBtn__text
      出品する
    .purchaseBtn__icon
      %i.fas.fa-camera
        
