%header.header
  .header__inner
    .main-header
      %h1.icon
        =link_to root_path do
          = image_tag "logo/logo.png"
      .search__box
        = form_for "#" do |f|
          .search__box__input
            = f.text_field :text, placeholder: "キーワードから探す" 
          = f.button :image, class: '.search-box__icon' do
            = image_tag ("icon/icon-search 1.png")
    .nav
      %ul.nav__lists-left
        %li.list-lefts__item.lists-left__item--first
          = link_to "カテゴリー", "/categories/show";
          = link_to "ブランド", id="brand-btn"
      %ul.nav__lists-right
        - if current_user && user_signed_in?
          %li.lists-right__item.lists-right__item--logout
            = link_to "ログアウト", logout_path
          %li.lists-right__item.lists-right__item--show
            = link_to "マイページ", "/users/show";
        - else  
          %li.lists-right__item.lists-right__item--login
            = link_to "ログイン", login_path
          %li.lists-right__item.lists-right__item--new
            = link_to "新規会員登録", new_user_registration_path