%h2 会員情報入力
= form_with model: @user, url: user_registration_path, local: true do |f|
  = render "devise/shared/error_messages", resource: @user
  .field
    = f.label "ニックネーム"
    %br/
    = f.text_field :nickname, autofocus: true, autocomplete: "name"
  .field
    = f.label "メールアドレス"
    %br/
    = f.email_field :email, autofocus: true, autocomplete: "email"
  .field
    = f.label "パスワード"
    - if @minimum_password_length
      %em
        (#{@minimum_password_length} 文字以上で入力)
    %br/
    = f.password_field :password, autocomplete: "new-password"
  .field
    = f.label "パスワード(確認用)"
    %br/
    = f.password_field :password_confirmation, autocomplete: "new-password"
  .field
    = f.label "お名前（全角）"
    %br/
    = f.text_field :last_name, autofocus: true, autocomplete: "name"
    = f.text_field :name, autofocus: true, autocomplete: "name"
  .field
    = f.label "お名前かな（全角）"
    %br/
    = f.text_field :last_name_rubi, autofocus: true, autocomplete: "name"
    = f.text_field :name_rubi, autofocus: true, autocomplete: "name"
  .field
    = f.label "生年月日"
    %br/
    != sprintf(f.date_select(:birth_date, prefix: :birth_date, use_month_numbers: true, start_year: 1930, end_year: (Time.now.year - 10), default: Date.new(1989, 1, 1), date_separator:'%s'),'年','月')+'日'
  .actions
    = f.submit "次へ"
= render "users/shared/links"
